<div class="modal-body" >
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div>
        <h1 class="text-center mb-4">Edit Job Seeker Profile</h1>
        <%= render 'job_seekers/form' %>
      </div>
    </div>
  </div>
</div>